.App {
  display: flex;
  flex-flow: row;
  height: 100vh;
  width: 100%;
  max-width: 960px;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.no-connection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  margin: 0 auto;
  max-width: 75%;
  flex: 2;
}

.chat-log {
  overflow-y: auto;
  width: 100%;
}

.chat-message {
  display: flex;
  align-items: center;
  width: 90%;
}

.chat-input-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.online-user-container {
  height: 100%;
  flex: 1;
  max-width: 25%;
}

.online-user-container {
  max-width: 25%;
}

.online-user-header {
  max-height: 15%;
}

.online-user-list {
  overflow-y: auto;
  width: 100%;
  max-height: 80%;
}

.user-li {
  max-width: 90%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
